.imagen{
    background: url(../../img/disertantes/placeholder.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}