.btn__cabecera{
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
}

.btn__cabecera:hover{
    background-color: #48A3A6;
}

