.main {
    padding: 32px 64px ;
    text-align: center;
    background-color: cadetblue;
}

.main .panel__main{
    background-color: aliceblue;
    padding: 10px 0;
    border-bottom: 3px solid orangered;
}


.main .main__title{
    font-size: 30px;
    margin-bottom: 16px;
}

.main .main__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
}

.main .main__description {
    line-height: 1.5;
}